.links {
    @apply text-orange-400 font-semibold text-xl;
}

.links:hover {
    color: #ff4000;
}

.links:focus {
    color: #ff4000;
}


.button {
    @apply bg-gray-200 px-4 py-3 rounded-md
}

.loginbutton:hover {
    box-shadow: 0px 0px 15px rgb(216, 222, 235);
}

.logupbutton {
    background-color: #ff4000;
    color: white;
}

.logupbutton:hover {
    box-shadow: 0px 0px 15px #ff4000;
    background-color: #ff4000;
    color: white;
}

@media (min-width: 1280px) {
    .botaosearch {
        margin-left: 220px;
    }
}