<!-- Mobile -->
<nav class="mobile">
  <div class="topbar">
    <div class="mainbar">
      <img class="treedot" src="" alt="treedot" />
      <img class="logo" src="../../../assets/logo.png" alt="logo" />
      <div class="cart">
        <p class="cartquantity">2</p>
        <img class="cartimage" src="" alt="cartimage" />
      </div>
    </div>
    <div class="subbar">
      <input
        class="searchbaritem"
        type="search"
        name="searchbar"
        placeholder="Pesquisar marcas, items..."
      />
      <img src="" alt="searchsign" />
    </div>
  </div>
  <div class="bottombar"></div>
</nav>

<!-- Web -->
<nav class="web">
  <img class="logoimage" src="../../../assets/logo.png" alt="logo" />
  <div class="navbaroption">
    <div>
      <ul class="navigationitems">
        <li><a routerLink="/site/home">Inicial</a></li>
        <li><a routerLink="/site/products">Productos</a></li>
        <li><a href="">Inicial</a></li>
        <li><a href="">Inicial</a></li>
      </ul>
    </div>
    <div class="searchbarweb">
      <input
        class="searchbarwebin"
        type="search"
        placeholder="Pesquisar marcas, items..."
      />
      <svg
        viewBox="0 0 32 32"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
        class="searchbutton"
      >
        <path
          d="m27.414 24.586-5.077-5.077A9.932 9.932 0 0 0 24 14c0-5.514-4.486-10-10-10S4 8.486 4 14s4.486 10 10 10a9.932 9.932 0 0 0 5.509-1.663l5.077 5.077a2 2 0 1 0 2.828-2.828zM7 14c0-3.86 3.14-7 7-7s7 3.14 7 7-3.14 7-7 7-7-3.14-7-7z"
          fill="#7fcbff"
          class="fill-000000"
        ></path>
      </svg>
    </div>
  </div>
  <div class="credentials">
    <button (click)="toLogin()" class="button loginbutton">Entrar</button>
    <button routerLink="/site/logon" class="button logupbutton">Criar</button>
  </div>
</nav>
