<div class="flex flex-col gap-5 my-6">
    <div>
        <h1>Nome do menu: </h1>
        <input type="text" placeholder="Nome do menu">
    </div>
    <div>
        <h1>Descricao do menu: </h1>
        <input type="text" placeholder="Descricao do menu">
    </div>
    <div>
        <h1>Localizacao 1: </h1>
        <input type="text" placeholder="Localizacao">
    </div>
    <div>
        <h1>Localizacao 2: </h1>
        <input type="text" placeholder="Localizacao">
    </div>
    <div>
        <h1>Contacto 1: </h1>
        <input type="text" placeholder="Contacto 1">
    </div>
    <div>
        <h1>Contacto 2: </h1>
        <input type="text" placeholder="Contacto 2">
    </div>
    <button class="px-7 py-3 bg-green-500 rounded-md">Criar Menu</button>
</div>