<!-- Title -->
<section class="is-title-bar">
  <div
    class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0"
  >
    <ul>
      <li>Admin</li>
      <li>Dashboard</li>
    </ul>
    <a
      href="https://github.com/justboil/admin-one-tailwind"
      target="_blank"
      class="button blue gap-2"
    >
      <span class="icon text-white">
        <svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M17 13.5a1.5 1.5 0 0 0-1.5-1.5h-7A1.5 1.5 0 0 0 7 13.5v.5c0 1.971 1.86 4 5 4 3.14 0 5-2.029 5-4v-.5Zm-2.25-5.25a2.75 2.75 0 1 0-5.5 0 2.75 2.75 0 0 0 5.5 0ZM22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Zm-1.5 0a8.5 8.5 0 1 0-17 0 8.5 8.5 0 0 0 17 0Z"
            fill="#ffffff"
            class="fill-212121"
          ></path>
        </svg>
      </span>
      <span>Meu Perfil</span>
    </a>
  </div>
</section>
<section class="is-hero-bar">
  <div
    class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0"
  >
    <h1 class="title">Dashboard</h1>
  </div>
</section>

<!-- Cards -->
<section class="section main-section">
  <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
    <app-clientscard></app-clientscard>
    <app-menu></app-menu>
    <app-itemscard></app-itemscard>
  </div>

  <!-- Tables -->
  <div class="notification blue">
    <div
      class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0"
    >
      <div>
        <span class="icon"><i class="mdi mdi-buffer"></i></span>
        <b>Tabela de Menus Registrados</b>
      </div>
    </div>
  </div>
  <!-- Table Menus -->
  <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left cursor-default text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="py-3 px-6">Nome do Menu</th>
          <th scope="col" class="py-3 px-6">Descrição</th>
          <th scope="col" class="py-3 px-6">Qtd itens</th>
          <th scope="col" class="py-3 px-6">Likes</th>
          <th scope="col" class="py-3 px-6">Localização</th>
          <th scope="col" class="py-3 px-6">Activo</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          *ngFor="let menu of menus"
        >
          <th
            scope="row"
            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ menu.name }}
          </th>
          <td class="py-4 px-6">{{ menu.description }}</td>
          <td class="py-4 px-6">0</td>
          <td class="py-4 px-6">{{ menu.hearts }}</td>
          <td class="py-4 px-6">{{ menu.locations }}</td>
          <td class="py-4 px-6">{{ menu.active === 1 ? "yes" : "no" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
